<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <input v-model="picInterval" placeholder="图片间隔" size=50> <button @click="setPicInterval()">设置</button>
    <br />
    <hr />
    <input v-model="newPaitent.name" placeholder="姓名" size=50><br />
    <input v-model="newPaitent.clinicNum" placeholder="诊室名称" size=50><br />
    <input v-model="newPaitent.uid" placeholder="身份证号码" size=50><br />
    <button @click="addPatient">增加</button>
    <br />
    <hr />
    <button @click="nextPatient">下一位</button>
    <ol>
      <li v-for="(patient,i) in patientList">
        {{patient.name}} {{patient.clinic_num}}
        <button v-if="i==0" @click="callPatient([patient.id])">再次呼叫</button>
        <button v-if="i!=0" @click="callPatient([patient.id])">删除</button>
        <button v-if="i!=0" @click="moveUpPatient([patient.id])">⬆️</button>
        <button v-if="i!=(patientList.length-1)" @click="moveDownPatient([patient.id])">⬇️</button>
      </li>
    </ol>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        patientList: [],
        newPaitent: {
          name: "",
          uid: "",
          clinic_num: "",
        },
        picInterval: 10,
      },
      created: function() {
        this.getPatients()
      },
      methods: {
        getPatients: function() {
          _self = this
          axios.get('/patient_list').then(function(response) {
            _self.patientList = response.data
          })
        },
        addPatient: function() {
          if (this.newPaitent.name == "") {
            alert("请输入姓名")
            return
          }
          if (this.newPaitent.clinicNum == "") {
            alert("请输入诊室名")
            return
          }
          _self = this
          axios.post('/patient_list', {
            name: this.newPaitent.name,
            uid: this.newPaitent.uid,
            clinic_num: this.newPaitent.clinicNum,
          }).then(function(response) {
            let patient = response.data
            if (_self.patientList.length == 0) {
              _self.callPatient(patient.id)
            }
            _self.getPatients()
          })
        },
        nextPatient: function() {
          let patientNum = this.patientList.length
          if (patientNum < 1) {
            alert("没有病人")
            return
          }
          preId = this.patientList[0].id
          if (typeof(preId) == "undefined" || preId == "") {
            console.log("no id")
            return
          }
          _self = this
          axios.delete('/patient_list/' + preId).then(function(response) {
            if (patientNum > 1) {
              _self.callPatient(_self.patientList[1].id)
            }
            _self.getPatients()
          })
        },
        callPatient: function(id) {
          if (typeof(id) == "undefined" || id == "") {
            console.log("no id")
            return
          }
          axios.put('/patient_list/' + id + '/actions/call').then(function(response) {})
        },
        moveUpPatient: function(id) {
          if (typeof(id) == "undefined" || id == "") {
            console.log("no id")
            return
          }
          _self = this
          axios.put('/patient_list/' + id + '/actions/move_up').then(function(response) {
            _self.getPatients()
          })
        },
        moveDownPatient: function(id) {
          if (typeof(id) == "undefined" || id == "") {
            console.log("no id")
            return
          }
          _self = this
          axios.put('/patient_list/' + id + '/actions/move_down').then(function(response) {
            _self.getPatients()
          })
        },
        setPicInterval: function() {
          axios.put('/ads_img/interval', {"interval": parseInt(this.picInterval)}).then(function(response) {
            if (response.status == 200) {
              alert("时间被设置为"+response.data+"s")
            } else {
              alert("设置失败")
            }
          })
        }
      }
    })
  </script>
</body>

</html>