<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="./css/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./css/main.css">
</head>

<body class="no-padding no-margin">
  <div id="app">
    <el-container class="no-padding no-margin">
      <el-aside class="no-padding no-margin" :style="{width:'30vw', height:'100vh'}">
        <div>
          <div class="name-list">
            <el-alert title="治疗中" type="success" show-icon :closable="false">
              <template v-if="patientList.length > 0">{{patientList[0].name}} {{patientList[0].clinic_num}}</template>
              <template v-else>无人治疗</template>
            </el-alert>
            <el-divider></el-divider>
            <template v-for="(patient,i) in patientList" v-if="!i==0">
              <el-alert title="等待中" type="info" show-icon :closable="false">
                {{i}}: {{patient.name}} {{patient.clinic_num}}
              </el-alert>
              <el-divider></el-divider>
            </template>
          </div>
        </div>
      </el-aside>
      <el-container class="no-padding no-margin">
        <el-main class="no-padding no-margin">
          <div>
            <el-carousel v-if="show_carousel" indicator-position="none" arrow="never" :interval="pic_interval*1000" :style="{height: '75vh'}">
              <el-carousel-item v-for="item in adv_imgs" :key="item" :style="{height: '75vh'}">
                <div :style="{width: '75vw', height: '75vh'}">
                  <img :src="item" :style="{width: '100%', height: '100%',objectFit: 'contain'}" alt="祝您身体健康" />
                </div>
              </el-carousel-item>
            </el-carousel>
          </div>
        </el-main>
        <el-footer :style="{height:'25vh'}" class="no-padding no-margin">
          <div class="call-list" :style="{width:'70vw', height:'25vh'}">
            <template v-if="patientList.length > 0">
              请{{patientList[0].name}}到{{patientList[0].clinic_num}}就诊
            </template>
            <template v-else>祝您身体健康</template>
          </div>
        </el-footer>
      </el-container>
    </el-container>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        patientList: [],
        adv_imgs: [],
        pic_interval: 10,
        show_carousel: true,
      },
      mounted: function() {
        this.getAdvImgs()
        setInterval(this.getPatients, 500)
        setInterval(this.getCallPatient, 500)
        setInterval(this.getAdvImgs, 60000)
        setInterval(this.getPicInterval, 10000)
      },
      methods: {
        getPatients: function() {
          _self = this
          axios.get('/patient_list').then(function(response) {
            _self.patientList = response.data
          })
        },
        getCallPatient: function() {
          _self = this
          axios.get('/call_patient').then(function(response) {
            let patient = response.data
            if (patient == null) {
              return
            }
            //如果有新的叫号请求，取消未完成的叫号
            window.speechSynthesis.cancel();
            let voiceTxt = "请" + patient.name + "到" + patient.clinic_num + "就诊"
            console.log(voiceTxt)
            let voice = new window.SpeechSynthesisUtterance(voiceTxt);
            voice.lang = "zh-CN";
            _self.$notify({
              title: '注意',
              message: voiceTxt,
              type: "warning",
              duration: 10000,
              showClose: false
            });
            window.speechSynthesis.speak(voice);
            window.speechSynthesis.speak(voice);
            window.speechSynthesis.speak(voice);
          })
        },
        getAdvImgs: function() {
          _self = this
          axios.get('/ads_img').then(function(response) {
            _self.adv_imgs = response.data
          })
        },
        getPicInterval: function() {
          _self = this
          axios.get('/ads_img/interval').then(function(response) {
            if (_self.pic_interval != response.data) {
              _self.show_carousel = false
              _self.pic_interval = response.data
              _self.$nextTick(()=>{
                _self.show_carousel = true
              })
            }
          })
        }
      }
    })
  </script>
</body>

</html>
